---
title: Installing RabbitMQ for VMware Tanzu &#91;Kubernetes&#93; Using a Helm Chart
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %> using a Helm chart hosted on
<%= vars.product_network %>.
For more information, see the [Helm documentation](https://helm.sh/docs/topics/charts/).

If you cannot meet the [prerequisites](#prereqs) listed below, follow the steps in
[Installing RabbitMQ for VMware Tanzu &#91;Kubernetes&#93;](./installing.html)


## <a id='prereqs'></a> Prerequisites

Before you install and configure <%= vars.product_short %>, you must install and configure:

1. **kubectl:** For installation instructions,
see the [Kubernetes documentation](https://kubernetes.io/docs/tasks/tools/install-kubectl/).

1. **The Docker CLI:** For installation instructions,
see the [Docker documentation](https://docs.docker.com/install/).

1. **A Kubernetes cluster:** You must use Kubernetes v1.14 or later. A default StorageClass has to be configured
or you need to specify which StorageClass to use.

1. **A private image registry:** VMware recommends that you keep the Kubernetes Operator
image private even if your registry is publicly accessible.
If you do not have access to a private image registry, email the team at rabbitmq-for-k8s@pivotal.io for help.

To install <%= vars.product_short %> using a Helm chart, you must also have:

1. **A <%= vars.product_network %> account:** Create an account from the [Sign-up](https://account.run.pivotal.io/z/uaa/sign-up)
page if you do not already have one.

1. **The Helm CLI:** For installation instructions, see the [Helm documentation](https://helm.sh/docs/intro/install/).

1. **Access to the <%= vars.product_network %> registry:** For more information, see
[Verify Your Access to the Image Registry](#helm-verify-docker-access) below.


## <a id='overview'></a> Overview

To install and configure <%= vars.product_short %> using a Helm chart:

1. [Verify That You Can Access the Image Registry](#helm-verify-docker-access)
1. [(Optional) Relocate the Operator Image](#relocate-op-image)
1. [Configure a Helm Chart Repository](#helm-configure-repo)
1. [Create a Values File](#helm-create-values)
1. [Helm Install](#helm-install-op)


## <a id='helm-verify-docker-access'></a> Verify That You Can Access the Image Registry

To verify that you have access to the <%= vars.product_network %> registry:

1. Run:

    ```
    docker login registry.pivotal.io
    ```

1. At the username prompt, enter the email address associated with your <%= vars.product_network %> account.

1. At the password prompt, enter your <%= vars.product_network %> account password.

1. Pull the registry by running:

    ```
    docker pull registry.pivotal.io/p-rabbitmq-for-kubernetes/rabbitmq-for-kubernetes-operator:VERSION-NUMBER
    ```

    Where `VERSION-NUMBER` is the product version in <%= vars.product_network %>. For example, `0.7.0-build.41`.<br><br>

    If you see an error similar to

    <pre class="terminal">
    Error response from daemon: pull access denied [...]
    </pre>

    install <%= vars.product_short %> by following the steps in
    [Installing RabbitMQ for VMware Tanzu &#91;Kubernetes&#93;](./installing.html) instead.<br><br>

    If you successfully pulled the image registry, and you do not want to relocate the Operator image, skip to
    [Configure a Helm Chart Repository](#helm-configure-repo) below.


## <a id='relocate-op-image'></a> (Optional) Relocate the Operator Image

If you successfully pulled the image registry, and you want to relocate the Operator image:

1. Follow the steps in [Set a Version Variable](./installing.html#set-ver-var).
1. Follow the steps in [Move the Images](./installing.html#relocate).


## <a id='helm-configure-repo'></a> Configure a Helm Chart Repository

To configure a Helm chart repository hosted in <%= vars.product_network %>:

1. Run:

    ```
    helm repo add p-rabbitmq-for-kubernetes https://registry.pivotal.io/chartrepo/p-rabbitmq-for-kubernetes --username='EMAIL-ADDRESS' --password='PASSWORD'
    ```

    Where:
    * `EMAIL-ADDRESS` is the email address used to register in <%= vars.product_network %>.
    * `PASSWORD` is the same password of your <%= vars.product_network %> account.

    <p class='note'>
      <strong>Note:</strong> Helm stores these credentials in a hidden file in plaintext.
      Consider using a bot or shared account details instead of your personal account credentials.
    </p>


1. Update the local Helm cache by running:

    ```
    helm repo update
    ```


## <a id='helm-create-values'></a> Create a Values File

To create a values file:

1. Run:

    ```
    helm show values p-rabbitmq-for-kubernetes/rabbitmq-operator > myvalues.yaml
    ```

1. Open the values file and paste in the code below.

    ```
    global:
      imageRegistry: IMAGE-REGISTRY-URL
      imageUsername: USERNAME
      imagePassword: PASSWORD
    images:
      operator:
        name: IMAGE-REGISTRY-URL/PROJECT-NAME/rabbitmq-for-kubernetes-operator
        tag: "VERSION-NUMBER"
    ```

    Where:
    * `IMAGE-REGISTRY-URL` is your image registry URL.
    * `USERNAME` is the email address associated with your <%= vars.product_network %> account.
    * `PASSWORD` is the password associated with your <%= vars.product_network %> account.
    * `PROJECT-NAME` is your project name.
    * `VERSION-NUMBER` is your build version.

    This is an example of a customized values file:

    <pre class="terminal">
    global:
      imageRegistry: someregistry.example.com
      imageUsername: myuser@example.com
      imagePassword: example-password
    images:
      operator:
        name: someregistry.example.com/some-project/rabbitmq-for-kubernetes-operator
        tag: "0.7.0-build.41"
    </pre>


## <a id='helm-install-op'></a> Helm Install

To install the Operator using Helm:

1. Run:

    ```
    helm -n default install -f myvalues.yaml rabbitmq-for-kubernetes p-rabbitmq-for-kubernetes/rabbitmq-operator
    ```

    Helm uses the option `-n default` to store a Kubernetes secret in the default namespace.
    Helm does this to avoid potential failures caused by kubectl context-referencing non-existing namespaces.

1. Verify that the output of the `helm install` command is similar to the example below.

    <pre class="terminal">
    NAME: rabbitmq-for-kubernetes
    LAST DEPLOYED: Tue Mar 31 16:13:05 2020
    NAMESPACE: default
    STATUS: deployed
    REVISION: 1
    TEST SUITE: None
    </pre>
