---
title: Deploying Pivotal RabbitMQ for Kubernetes with KSM
owner: RMQ for k8s
---


<strong><%= modified_date %></strong>

This topic describes how to deploy <%= vars.product_full %> to Pivotal Cloud Foundry (PCF) using the
[Container Service Manager (KSM)](https://docs.pivotal.io/ksm/0-4/index.html).

## <a id='prerequisites'></a> Prerequisites

Before you deploy <%= vars.product_full %> using KSM, you must have:

1. **KSM:** For installation instructions, see
[Installing and Configuring Kubernetes Service Manager for PCF](https://docs.pivotal.io/ksm/installing.html)

1. **Helm 2:** Helm 2 packages the <%= vars.product_short %> service offering and adds it to KSM.
KSM supports Helm 2.
For installation instructions, see the [Helm documentation](https://v2.helm.sh/docs/using_helm/#quickstart).

1. **RabbitMQ for Kubernetes Operator:**
For information, see [Download RabbitMQ for Kubernetes](./installing.html#artifact).

## <a id='add'></a> Add <%= vars.product_short %> to KSM

To add <%= vars.product_short %> to KSM:

1. Unpack <%= vars.product_short %> by running:

    ```bash
    mkdir rabbitmq-for-kubernetes-${version}
    tar -C rabbitmq-for-kubernetes-${version} -xf rabbitmq-for-kubernetes-${version}.tar
    ```

1. (Optional) Configure <%= vars.product_short %> plans for the RabbitMQ Helm chart by following the procedures in
[Define Plans Configuration](https://docs.pivotal.io/ksm/prepare-offer.html#plans).<br>
By default, <%= vars.product_short %> includes two plans:
    + `single`: This is one-node cluster plan.
    + `ha`: This is a three-node cluster plan.

    You can create custom plans by adding files YAML files to the `rabbitmq-for-kubernetes-${version}/charts/rabbitmq/plans` directory.
    The `plans/example-configurations.yaml` file contains all the  properties you can use to configure a <%= vars.product_short %> plan.
    You can also use KSM to configure multiple plans.
1. Add <%= vars.product_short %> to KSM by following the procedures in [Using KSM](https://docs.pivotal.io/ksm/using.html).
