---
title: Using Container Service Manager
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

This topic describes how to deploy <%= vars.product_full %> using
Tanzu Service Manager. For information about Tanzu Service ManagerKSM,
see [Tanzu Service Manager](https://docs.pivotal.io/tanzu-service-manager/index.html).

You can use the procedures in this topic if you have a running
<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployment.
If you do not have a <%= vars.app_runtime_abbr %> deployment,
instead use the procedures in [Using with kubectl and YAML](./using.html).

## <a id='prerequisites'></a> Prerequisites

Before you deploy  <%= vars.product_short %>  using KSM, you must:

+ **Install KSM:** KSM enables operators to provide app developers with access to <%= vars.product_short %>
through the `cf marketplace`.
For instructions, see
[Installing and Configuring KSM](https://docs.pivotal.io/tanzu-service-manager/installing.html).

+ **Install Helm 2:** Helm 2 packages the <%= vars.product_short %> Helm chart.
For instructions, see the [Helm documentation](https://v2.helm.sh/docs/using_helm/#quickstart).

+  **Install <%= vars.product_short %>:**
For instructions, see [Installing <%= vars.product_full %> with Kubectl](./installing-with-kubectl.html).

## <a id='add'></a> Add <%= vars.product_short %> to KSM

To add <%= vars.product_short %> to KSM:

1. Unpack <%= vars.product_short %> by running:

    ```
    mkdir rabbitmq-for-kubernetes-${version}
    tar -C rabbitmq-for-kubernetes-${version} -xf rabbitmq-for-kubernetes-${version}.tar
    ```

1. (Optional) Create custom <%= vars.product_short %>  plans by following the procedures in
    [Define Plans Configuration](https://docs.pivotal.io/ksm/prepare-offer.html#plans) and
    adding YAML files to:

    ```
    rabbitmq-for-kubernetes-${version}/charts/rabbitmq/plans
    ```

    The `plans/example-configurations.yaml` file contains all the properties you can use to
    configure <%= vars.product_short %> plans. <br><br>
    By default, <%= vars.product_short %> includes two plans:
      + `single`: This is one-node cluster plan.
      + `ha`: This is a three-node cluster plan.

1. Add <%= vars.product_short %> to KSM by following the procedures in
[Retrieve Credentials for KSM](https://docs.pivotal.io/tanzu-service-manager/using.html#credentials),
[Add a Service Offering to KSM](https://docs.pivotal.io/tanzu-service-manager/using.html#add), and
[Enable Service Offering Access](https://docs.pivotal.io/tanzu-service-manager/using.html#enable).
