---
title: Upgrading Pivotal RabbitMQ for Kubernetes (Beta)
owner: RMQ for k8s
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need this copy
with every release %>
<% previous_version = (product_info["local_product_version"].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

## <a id='overview'></a> Overview

You cannot use <%= vars.ops_manager %> to upgrade <%= vars.product_short %>.
To upgrade to <%= vars.product_short %> v<%= current_version %>:

1. Follow the uninstalling procedure that corresponds to the method you used for installation:
      + If you used Cloud Native Application Bundle (CNAB) to install
        <%= vars.product_short %> v<%= previous_version %>,
        see [Uninstall the Cloud Native Application Bundle](#uninstall-bundle) below.
      + If you used Kubernetes manifests to install
        <%= vars.product_short %> v<%= previous_version %>,
        See [Uninstall the Kubernetes Manifests](#uninstall-manifests) below.
1. Install <%= vars.product_short %> v<%= current_version %> by following the procedures in
    [Installing and Configuring Using CNAB](./installing-cnab.html) or
    [Installing and Configuring Using Kubernetes Manifests](./installing-with-kubectl.html).

## <a id='uninstall-bundle'></a> Uninstall the Cloud Native Application Bundle

To uninstall the CNAB:

1. Use Duffle to uninstall <%= vars.product_short %> by running:

    ```
    duffle uninstall rabbitmq --credentials rabbitmq-creds --relocation-mapping=relmap.json
    ```

## <a id='uninstall-manifests'></a> Uninstall the Kubernetes Manifests

To uninstall the Kubernetes manifests:

1. Move to the directory for <%= vars.product_short %> by running:

    ```
    cd rabbitmq-for-kubernetes-$version
    ```

1. Delete the manifests for <%= vars.product_short %> by running:

    ```
    kubectl delete -f manifests/
    ```
